body{
	margin: 0px;
	padding: 0px;
}
.form-control{
	width: 400px;
}
.form-control.nome{
	width: 400px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	height: 34px;
}
.input-group{
	position: relative;
}
.registro{
	width: 500px;
	background: url('../image/logoCad2.jpg') no-repeat;
	margin: 5% 0% 0% 36%;
	padding: 0px;
	position: absolute;	
}
.rodape{
	 padding: 700px 0px 0px 0px; 
	 position: absolute; 
}
input{
	opacity: 0.9;
}

img:hover{
	width: 90px;
	height: 60px;
}
