/* Smartphones (portrait and landscape) ----------- */
@media  screen and (max-width : 480px) {
/* Styles */
	body{
		background: #3F2860;
	}
}
@media screen and (min-width : 480px) and (max-width: 768px){
/*Tablets até 960*/
	body{
		background: #555555;
	}	
}
@media screen and (min-width : 769px) and (max-width: 991px){
/*Tablets até 960*/
	body{
		background: #007fff;
	}	
}
@media screen and (min-width: 992px){
body{
	background: url('../image/prontera.jpg') no-repeat;
   	background-size: cover;
	width: 100%;
    height: 100%
	font-family: "Open Sans", Helvetica, sans-serif, arial; /*definição da fonte geral incorporada do Google Fonts*/
    font-size: 1.125em; /*tamanho da fonte 18px/16;*/
    /*xfont-weight: 300; indica que a fonte está coonfigurada como Open Sans Light*/
    line-height: 1.2222222222em;/*22px/18;altura da linha*/
    text-align: left; /*alinhando o texto à esquerda*/
    text-shadow: 2px 2px 0px #000; /*sombreamento para as fontes do site*/
}
.center{
     margin: 0 auto; /*centralizando o conteúdo no navegador*/
     max-width:1200px; /*largura máxima do layout*/
     width: 90% /*1200px; largura do layout*/        
}
/*.clearfix usado para adicionar um espaço vazio antes e depois dos elementos
  evitando que os floats se aglomerem.
*/
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
img, picture, video, embed {
    max-width: 100%; /*define a largura máxima em até 100%*/
}	max-height: 100%
#wrap{
	line-height: 1.6;
	position: relative;
}
.billboard{
	width: 100%;
	/*xheight: 92.9%;*/
	position: absolute;
	bottom: 0;
	clear: both;
}
.billboard.light{
    background-size: cover;
    background-position: center;
   	font-weight: bold;
}
.shadow{
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
    left: 0;
    background: url('../image/shadow.png') repeat-x;
}
#sidebar{
	width: 890px;/*890px % 1366px * 100 = 65.15373352855051%*/
    border: 1px solid green;
    background-color: #8AB899;
    background-image: linear-gradient(#8AB899, #BBC925);
    border-radius: 6px;
    box-shadow: 0 1px 1px #777;
    /*xmargin: 23% 0% 0% 23%;*/
    margin: 0 auto;
    margin-bottom: 200px;
    opacity: 0.9;
    /*display: flex;*/
   	/*flex-wrap: wrap;*/
    /*flex-direction: row;*/
}
ul a{
	list-style: none;
	color: #FFF;
	text-decoration: none; 
	display: inline-block;
    /*padding: 0 10px;*/
    padding: 0 .7%;
	border-right: 0.15em solid #FFF;
	font: 1.625em verdana, arial, helvetiva, sans-serif;
	
}    
ul li:hover{
	color:#FE5E41;
    text-decoration:underline; /*insere uma linha sob o link*/
    text-shadow:none; /*retira a sombra da fonte*/
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease color 0.3s;
	transition: background-color 0.3s ease, color 0.3s ease;
}
#ultimo{
	border-right: none;
}
.copyright{
	color: #FE5E41;
	text-decoration: none;
}
.copyright:hover{
	color: #00CCFF;
	text-decoration: underline;
}
footer{
	position: absolute;
	font: 0.75em verdana, arial, helvetiva, sans-serif;
	color: #777777;
	text-align: center;
	width: 100%;
    bottom: 0;
    text-shadow: none;
}
/*
1200px – Desktops, notebooks com monitores widescreen
***********************************************************/
@media screen and (max-width: 1200px){
/*
960px – Tablets no formato paisagem e alguns monitores mais antigos
***********************************************************/













