html{
	margin: 0px; padding: 0px;
	background: white;
}
body{
	background-color: #e6ffe6!important;
}
#wrapper{
	max-width: 100%;
	max-height: 100%;
}
#header{
	height: 100px;
	border-bottom: 2px solid #999;
	padding: 10px	
}
#header h1{
	font-size: 30px;
	margin-top: 30px;
}
#content{
	width: 90%;
	padding-left: 15px;
	position: relative;
	margin-top: 20px;
	clear: both;
	min-height: 400px;
	margin-bottom: 200px;
}
#content h2{
	font-size: 20px;
	xborder-bottom: 1px solid #999;
	margin-bottom: 10px;
}
.erro, .sucesso, .alerta, .pergunta{
	width: 40%;
	text-align: center;
	padding: 2%;
	margin: 10px auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;	
}
.sucesso{
	background: #eff4d4;
	border: 1px solid #8fad3d;
	color: #596c26;
}
.alerta{
	background: #ffea97;
	border: 1px solid #e2b500;
	color: #995f5b;
}
.erro{
	background: #efcec9;
	border: 1px solid #ad3f30;
	color: #943728;
}
.pergunta{
	background: #c6d8f0;
	border: 1px solid #4381cc;
	color: #5c58b9;
}
#wrapper form{
	margin: 5px;
	float: right;
}
ul{display: inline-block;}
.footer{
	background-color: #333333;
	width: 100%;
	height: 200px;
	color: white;
	position: relative;
	clear: both;bottom: 0;
}
.footer p{text-align: center;}
.footer nav ul{
	position: relative;
	float: left;
	font-size: 1.1em;
	margin-left: 20%;
	bottom: 0;
}
.topiclist{
	position: relative;
	background: white;
}
.list-user-child{
	position: relative; float: left;
	height: auto;
	width: 20%;
}
.newpostlink{
	position: relative;
	float: right;
	clear:both;
}
.cssmenu{
	background: white;
}
.post-container{
	background: #fff;
	min-height: 100px;
	padding-left: 5px;
	padding-top: 10px;
}
.post{
	width: 80%;	
	margin: 0 auto;
	margin-top: 5%;
}
.post span{
	color: #333;
}
.post img{
	width: 120px; height: 120px;
}
